@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}